
{% extends 'core/base.html' %}

{%load static %}

{% block title %}Sample{% endblock %}

{% block content %}

    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mbtm">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 forced">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Aviso legal</span>
                </h2>
                <div class="section-content">
                    <p>La Caffettiera de Rumen es una marca registrada y este sitio web es propiedad de Rumen Orachev.</p> 
                    <p>Todos los contenidos, imágenes y textos son originales o utilizados con licencia, y están protegidos por derechos de autor.</p>
                    <p>Queda prohibida la reproducción total o parcial sin autorización previa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}