
{% extends 'core/base.html' %}

{%load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg'%}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Déjate sorprender</span>
              <span class="section-heading-lower">Te gustará</span>
            </h2>
            <p class="mb-3">Cada taza cuenta una historia, cada sorbo despierta los sentidos. En La Caffettiera de Rumen no solo servimos café, ofrecemos experiencias que reconfortan el alma. Ven y descubre el verdadero sabor de Italia en el corazón de tu ciudad.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="{% url 'store'%}">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
              </h2>
              <p class="mb-0">Nos comprometemos a ofrecerte calidad sin compromisos. Desde la selección de los granos hasta la sonrisa con la que te recibimos, todo está pensado para que vivas un momento único. Porque mereces lo mejor, siempre.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}