
{% extends 'core/base.html' %}

{%load static %}

{% block title %}Sample{% endblock %}

{% block content %}

    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mbtm">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 forced">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Política de privacidad</span>
                </h2>
                <div class="section-content">
                    <p>En La Caffettiera de Rumen, nos tomamos muy en serio tu privacidad. Los datos personales que puedas compartir con nosotros, como tu nombre o correo electrónico, serán utilizados únicamente para ofrecerte un mejor servicio y nunca serán vendidos ni cedidos a terceros sin tu consentimiento.</p>
                    <p>Utilizamos cookies solo para mejorar tu experiencia de navegación y analizar de forma anónima el tráfico en nuestra web.</p>
                    <p>Puedes contactarnos en cualquier momento si deseas modificar o eliminar tus datos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}